h1{
    padding: 10px;
}
.title{
    color: rgb(66, 66, 236);
    background-color: rgb(187, 226, 225);
    padding: 10px;
}
.style1{
    color: cornflowerblue;
}
tr, td{
    padding: 5px;
}
table{
    border-collapse: collapse;
}
.hangmau{
    background-color: rgb(219, 216, 216);
}